<%= form_for @content  , :html => { :multipart => true } do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "new_content_form">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :place_id, :value => params[:place_id] %>

    <div class="field">
	  <%= f.file_field :photo %>
    </div>
  
    <div class="field">
      <%= f.label :story %><br />
      <%= f.text_area :story %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
