<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.place %>
</p>

<p>
  <b>Location:</b>
  <%= @place.location %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
